<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css" />
    <title>NodeJs Tutorial - User Edit</title>
</head>

<body>
    <ul>
        <li><a class="active" href="\">Home</a></li>
        <li><a href="\about">About</a></li>
    </ul>

    <div class="banner">
        <img src="/images/banners/banner4.jpg" alt="image" />
    </div>

    <div class="content">
        <form action="/edit-user" method="post" enctype="multipart/form-data">
            <h1 style="margin: 3rem auto 3rem auto; width: fit-content;">Change User Info</h1>

            <input type="text" name="id" value="<%=user._id %>" hidden="true" />

            <img class="avatar" src="/images/avatars/<%=user.avatar %>" alt="avatar"
                style="display: block; margin: 1rem auto;" />
            <input type="file" id="avatar" name="avatar" style="margin-top: 1rem;" />

            <label for="firstName"><b>First Name</b></label><br>
            <input type="text" id="firstName" name="firstName" value="<%=user.firstName %>" /><br>

            <label for="lastName"><b>Last Name</b></label><br>
            <input type="text" id="lastName" name="lastName" value="<%=user.lastName %>" /><br>

            <label for="email"><b>Email</b></label><br>
            <input type="text" id="email" name="email" value="<%=user.email %>" /><br>

            <label for="address"><b>Address</b></label><br>
            <input type="text" id="address" name="address" value="<%=user.address %>" /><br>

            <button type="submit" style="margin-bottom: 10rem">Save</button>
        </form>
    </div>
</body>

</html>